@media (max-width: 620px) {
  .list {
    flex-wrap: wrap;
    justify-content: center;
  }
  .flip-card {
    width: 500px;
  }
}

@media (min-width: 620px) and (max-width: 888px) {
  .flip-card:hover {
    transition: all 800ms ease;
    width: 150%;
  }
}

@media (min-width: 888px) and (max-width: 1010px) {
  .flip-card:hover {
    transition: all 800ms ease;
    width: 80%;
  }
}
