.container {
  width: 100%;
}

h1 {
  text-align: center;
  margin-top: 30px;
}

.title-description {
  margin-top: 10px;
  color: gray;
  font-size: small;
  text-align: center;
}

h2 {
  margin-top: 20px;
  margin-left: 15px;
}

a {
  color: skyblue;
}

.list {
  display: flex;
  /* justify-content: space-around; */

  align-items: center;
}

.card-title {
  text-align: center;
  margin: 30px;
}

.card-content {
  padding: 30px;
}
